@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  margin: 0;
}

h1.authpage, h2.authpage {
    color: rgb(223, 198, 57);
}

div.form-container {
    background-color: rgba(233, 210, 77, 0.779);
}

.full-screen-container {
  background-image: url("https://images.creativemarket.com/0.1.0/ps/6558693/1820/1213/m1/fpnw/wm1/j1kmf5xwoekx4hzegti4wcrh1fy7t5yx09unplz7kcpvjpuyw0p4qhrc8un9ls4n-.jpg?1560868806&s=a1e7bdd7812b18d5fd2dd65603afab13");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: hsla(342, 42%, 44%, 0.6);
  padding: 50px 30px;
  border-width: 5px;
  border-radius: 10px;
  min-width: 400px;
  width: 50%;
  max-width: 600px;
}

.login-title {
  color: #837433;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: normal;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  color: #393007;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.input-group input {
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid #7b6608;
  outline: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
}

.input-group input:focus {
  border: 1px solid #f9e27d;
}

.login-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(20deg, #f9e27d 30%, transparent 80%);
  border: 1px solid hsl(308, 93%, 74%);
  outline: none;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: hsl(308, 93%, 74%, 0.3);
}

.login-button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}
