.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -60px;
  }
  
  .flex div {
    margin: 0 4%;
    text-align: left;
  }
  
  h1.serviceDetails {
    text-align: center;
    font-weight: 200;
    margin-left: 30px;
  }
  
  div.ul-title {
    text-align: center;
    font-size: 20px;
  }
  
  li {
    text-align: center;
    list-style: none;
    font-weight: 200;
  }
  
  img {
    background-size: cover;
    width: 1000px;
    height: 650px;
    border-width: 5px;
    border-radius: 20px;
    margin-top: 5%;
    margin-right: 1%;
  }
  