h1.home {
    margin-top: 30px;
}

p.intro {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    display: inline-block;
    margin-top: 80px;
    margin-left: 670px;
    max-width: 35%;
}

p.second {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    display: inline-block;
    margin-top: 160px;
    margin-right: 550px;
    max-width: 35%;
}

img.suite-pic {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 450px;
    height: 450px;
}

img.suite-pic2 {
    position: absolute;
    top: 590px;
    right: 250px;
    width: 430px;
    height: 440px;
}